.footerWrapper{
    height: 300px;
    background-color: #3d494c;
    padding-top: 10px;
    
}

.footerWrapper p{
    color: white;
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

.footerWrapper .fa{
    font-size: 50px;
    color: white;
    margin: 5px;
}

.iconWrapper{
  
  text-align: center;
  margin-top: 30px;
  
}